@model praLib.Models.ViewModels.NewDjelatnik

@{
    ViewBag.Title = "NewAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Success == 1)
{
    <h1>Uspješno dodavanje novog djelatnika!</h1>
    <script>
       setTimeout(function () {
       window.location.replace('@Url.Action("Index", "AdminProfile")')
       }, 2000);
    </script>

}
else
{<h2>Dodavanje novog djelatnika</h2>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Prezime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Prezime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Prezime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    @if(ViewBag.Email == 1)
                    {
                    <label class="text-danger">Email mora završavati na knjizara.hr</label>
                    }
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OIB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OIB, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OIB, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Radno mjesto", htmlAttributes: new { @class = "control-label col-md-2 w-100" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RadnoMjesto, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RadnoMjesto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Pozicija, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Pozicija, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Pozicija, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Lozinka novog djelatnika", htmlAttributes: new { @class = "control-label col-md-2 w-100" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <br />
                    <input type="submit" value="Dodaj djelatnika" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
}
<br />
<div>
    @Html.ActionLink("Povratak na admin panel", "Index", "AdminProfile", new { @class = "btn btn-warning" })
</div>
