@model praLib.Models.ViewModels.NewKnjiga

@{
    ViewBag.Title = "BookAdd";
}

<h2>Dodavanje nove knjige</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Naslov, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Naslov, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Naslov, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Autor, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ISBN, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ISBN, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cijena kupnje", htmlAttributes: new { @class = "control-label col-md-2 w-100" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CijenaKupnja, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CijenaKupnja, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cijena posudbe", htmlAttributes: new { @class = "control-label col-md-2 w-100" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CijenaPosudba, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CijenaPosudba, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kolicina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kolicina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kolicina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Putanja slike", htmlAttributes: new { @class = "control-label col-md-2 w-100" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PutanjaSlika, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PutanjaSlika, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Opis, htmlAttributes: new { @class = "control-label col-md-2" })
        <div>
            @Html.EditorFor(model => model.Opis, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Opis, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Dodaj novu knjigu" class="btn btn-success" />
        </div>
    </div>
</div>
}
<br />
<div>
    @Html.ActionLink("Povratak na admin panel", "Index", "AdminProfile", new {@class="btn btn-warning"})
</div>
